<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input placeholder="enter name" name="username"><br><br>
        <input placeholder="enter image address" name="img"><br><br>
        <input placeholder="enter about yourself" name="caption"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>